<style type="text/css">
    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
        
    }
    /* Specify styling for tooltip contents */
    .tooltip.customClass .tooltip-inner {
        color: #880000;
        background-color: #ffff66;
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }
    /* Hide arrow */
    .tooltip.customClass .tooltip-arrow {
        display: none;
    }

  
</style>

<div ng-init="init()">
    <h3>Crear Tablas</h3>

    <!--<input type="button" class="btn btn-success" name="name" value="cargar DB" ng-click="getDataBases()" />
    <input type="button" name="name" value="print" ng-click="print()" />-->

    <div class="col-md-3">
       <h5>Seleccione una base de datos:</h5>
    </div>
    <div class="col-md-3">
        <select name="repeatSelect" id="repeatSelect" ng-model="baseDatos" class="form-control">
            <option value="" disabled selected>Seleccione una base de datos</option>
            <option ng-repeat="option in data" value="{{option}}">{{option}}</option>
        </select>
    </div>
   
    <br />
    <br />

    <div class="col-md-3">
        <h5>Nombre de la tabla:</h5>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control" placeholder="Nombre de la Tabla" name="name" value=" " ng-model="nombreTabla" />
    </div>
   
    <div>
        <br /><br /><br />
        <hr width=100% align="center">
        <h3>Datos de los campos:</h3>
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary btn-circle col-md-2" ng-click="agregarFila()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
    </div>
    
    <br />
    <div class="row">
        <table class="table table-striped">
            <thead align="center">
                <tr>
                    <td><i class="fa fa-key"></i> PK</td>
                    <td>Nombre</td>
                    <td>Tipo</td>
                    <td>Tamano</td>
                    <td>Null</td>
                </tr>
            </thead>
            <tbody align="center">
                <tr ng-repeat="row in camposTabla">
                    <td><input type="checkbox" name="name" value=" " ng-model="row[0]" /></td>
                    <td><input type="text" class="form-control" value=" " ng-model="row[1]" /></td>
                    <!--<td><input type="text" class="form-control" value=" " ng-model="row.tipo" /></td>-->
                    <td>
                        <select class="form-control" ng-model="row[2]">
                            <option ng-repeat="tipo in datatypes" value="{{tipo}}">{{tipo}}</option>
                        </select>
                    </td>
                    <td><input type="text" class="form-control" value=" " ng-model="row[3]" ng-hide="row[2] == 'datetime' || row[2] == 'int' || row[2] == 'bigint' || row[2] == 'bit' || row[2] == 'date' || row[2] == 'datetime' || row[2] == 'float' || row[2] == 'geography' || row[2] == 'geometry' || row[2] == 'hierarchyid' || row[2] == 'image' || row[2] == 'money' || row[2] == 'ntext' || row[2] == 'real' || row[2] == 'smalldatetime' || row[2] == 'smallint' || row[2] == 'smallmoney' || row[2] == 'sql_variant' || row[2] == 'text' || row[2] == 'tinyint' || row[2] == 'uniqueidentifier' || row[2] == 'xml' " /></td>
                    <td><input type="checkbox" name="name" value=" " ng-model="row[4]" /> </td>
                    <td><button class="btn btn-danger btn-circle col-md-2" ng-click="eliminarCampo($index)"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button></td>
                </tr>
            </tbody>
        </table>

        <div class="col-md-12">
            <input type="button" class="btn btn-primary center-block" ng-click="crearTabla()" value="Crear Tabla" />
        </div>

    </div>

</div>
