<style>
    .colorDiv {
        background-color: #f0f5f5;
        border-radius: 25px;
        text-align: center;
    }

    .centrado {
        text-align: center;
    }
</style>


    <div ng-init="init()">
        <h3>Editar Campos </h3>

        <div class="col-md-3">
            <h5>Seleccione una base de datos:</h5>
        </div>
        <div class="col-md-3">
            <select name="repeatSelect" id="repeatSelect" ng-model="databaseForRelation" class="form-control">
                <option value="" disabled selected>Seleccione una base de datos</option>
                <option ng-repeat="option in data" value="{{option}}">{{option}}</option>
            </select>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary" ng-click="getTables()">Cargar Tablas</button>
        </div>
        <div class="col-md-12">
            <hr width=100% align="center">
        </div>
        <br />
        <br />
        <div class="col-md-12 colorDiv">
            <h3>Tablas</h3>
        </div>

        <div class="col-md-12 centrado">
            <h4>Seleccione una tabla:</h4>
            <div class="form-inline">
                <select class="form-control" ng-model="tableselectedLeft">
                    <option value="" disabled selected>Seleccione una tabla</option>
                    <option ng-repeat="tabla in listaTablas" value="{{tabla}}">{{tabla}}</option>
                </select>
                <button class="btn btn-primary" ng-click="cargarCamposLeft()">Ver Campos</button>
            </div>
        </div>

        <div class="col-md-12">
            <hr width=100% align="center">
        </div>

        <div class="col-md-12 colorDiv">
            <h3>Campos de Tablas</h3>
        </div>

        <!--Campos Tabla-->
        <div class="col-md-12 centrado">
            <div class="col-md-6">
                <div class="form-inline">
                    <h4>Seleccione un Campo</h4>
                    <select class="form-control" ng-model="fieldLeft">
                        <option value="" disabled selected>Seleccione un campo</option>
                        <option ng-repeat="camposRight in estructutaTableLeft" value="{{camposRight}}">{{camposRight}}</option>
                    </select>
                </div>
            </div>

            <div class="col-md-6" style="text-align:left;">
                <h4>Seleccione una accion:</h4>

                <div class="group-required">
                    <input type="checkbox" ng-model="AddCampo;" />Agregar Campo <br />
                    <input type="text" class="form-control" ng-show="AddCampo" ng-model="nuevoCampo" />
                    <input type="checkbox" ng-model="deleteCampo" />Borrar Campo <br />

                    <input type="checkbox" ng-model="changeTipo" />Modificar tipo de dato <br />
                    <select class="form-control" ng-show="changeTipo" ng-model="tipoData">
                        <option ng-repeat="tipo in datatypes" value="{{tipo}}">{{tipo}}</option>
                    </select>

                    <input type="checkbox" ng-model="addKey" />Agregar Primary key <br />
                    <input type="checkbox" ng-model="deleteKey" />Borrar Primary key <br />
                </div>


            </div>



        </div>

        <!--Nombre de Relacion-->
        <div class="col-md-12 text-center">

            <hr width=100% align="center">
            <div class="form-inline">

                <button class="btn btn-primary" ng-click="ejecutarAccion()">Ejecutar Accion</button>
            </div>
        </div>

        <div class="col-md-12">
            <hr width=100% align="center">
        </div>

    </div>
